html::-webkit-scrollbar {
    width: 0 !important;
    display: none; 
    }

body {
    background: #ffffff !important;
}

header {
    height: auto;
    background-color: #f7f7f7;
}

.navbar-custom {
    background: #f7f7f7;
    /* overflow: hidden; */
    position: relative;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: #6e619d !important;
}

.navbar-dark .navbar-brand {
    color: #6e619d !important;
}

.category-block {
    border-radius: 0% !important;
}

.color-label {
    height: 10px;
    width: 200px;
    background: blueviolet;
    margin-bottom: 2px;
}

.lead__view {
    background-image: url('/media/utils/sunset-485016_1920.png');
    background-size: cover;
    min-height: 900px;
    min-width: 300px;    
}

.lead__view.h1.p {
    color: white;
}

.jumbo__custom {
    border-radius: 0% !important;
}

/* .cate-options-div {
    background: #00AC96;
} */


.new__author {
    display: flex;
    margin: auto 0px;
}
.new__author_div {
    height: 50px;
}



.btn-custom {
    color: #6e619d !important;
    background-color: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
}

.footer {
    height: 200px;
    width: 100%;
    background: rgb(75, 74, 74);
}