html::-webkit-scrollbar {
    width: 0 !important;
    display: none; 
    }

body {
    background: rgb(250, 250, 250) !important;
}

.header {
    position: relative;
    height: 60px;
}

.navbar-custom {
    position: relative;
    background: #6E619D;
}

.category-block {
    border-radius: 0% !important;
}

.color-label {
    height: 10px;
    width: 200px;
    background: blueviolet;
    margin-bottom: 2px;
}

.lead__view {
    background-image: url('/media/utils/sunset-485016_1920.png');
    background-size: cover;
    min-height: 900px;
    min-width: 300px;    
}

.lead__view.h1.p {
    color: white;
}

.jumbo__custom {
    border-radius: 0% !important;
}

/* .cate-options-div {
    background: #00AC96;
} */