{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Book</title>
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>

    {% comment %} <style>
        input, select {width: 50%}
    </style> {% endcomment %}
</head>
<body>
    <div class="container col-5">
        <h4 class="mt-5 mb-4">Add book</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy}}
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {{ form.media.js }}
</body>
</html>