{% extends "users\base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container col-6">
        <form action="" method="POST" enctype="multipart/form-data">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ author.as_p|crispy }}
        </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Submit </button>
            </div> 
        </form>
    </div>
{% endblock content %}